 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Newsletter EMWeb</title>
    <style type="text/css">

        .img_header {
            max-width: 800px;
            width: 100%;
            height: auto;
        }

        table.test td {
            /*display:block;*/
            width:100%;
        }



    </style>
</head>

<body>
<!-- ////////////// fond du site ////////////// -->
<table width="100%" border="1" cellspacing="0" cellpadding="0" bgcolor="#FFEDDD">
  <tr>
    <td>
    <!-- ////////////// conteneur principal ////////////// -->
    <table width="70%" border="1" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="padding: 10px; border-collapse: collapse" class="test">
      <tr>
        <!-- bordure gauche  -->
        <td width="20%" valign="top" style="padding: 10px;">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </td>
        
        <!-- la newsletter  -->
        <td width="60%"valign="top"><img src="img/salad.jpg" class="img_header">

            <table width="50%" border="1" cellspacing="0" cellpadding="0" bgcolor="#FFEDDD" >
                <tr>
                    <td>
                        huih uh uihuih uihiu
                        </td>
                    </tr>

                </table>

            <table width="50%" border="1" cellspacing="0" cellpadding="0" bgcolor="#FFEDDD">
                <tr>
                    <td>
                        huih uh uihuih uihiu
                    </td>
                </tr>

            </table>




        </td>
        <!-- fin la newsletter  -->

        <!-- bordure droite  -->
        <td width="20%" valign="top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
      </tr>
    </table>
    <!-- ////////////// fin conteneur principal ///////// -->
    </td>
  </tr>
</table>
<!-- ////////////// fin fond du site ////////// -->
</body>
</html>
