
body {
	padding: 5px 20px;
	background: #fff;
	color: #000;
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
	background-image:linear-gradient(black, silver, white);
	background-image:-moz-linear-gradient(black, silver, white);
	background-image:-webkit-linear-gradient(black, silver, white);
	background-image:-o-linear-gradient(black, silver, white);
	background-color:#fff
}
header, aside, footer {
	display: block;
	margin:0
}
h1, h2 {
	color: #456;
	font-family:"Tangerine";
	margin:20px 0
}
h1 {
	border-bottom: 1px solid #ccc;
	font-family:"Tangerine";
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px #ccc;
	font-size:73px;
	transition: opacity 1s;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s; /* Opera */

}

h1:hover {
	cursor:pointer;
	opacity:0.5
	
	
}
/*************menu ************************************/
nav#menu-top{
	background-image:linear-gradient(black, silver, white);
	background-image:-moz-linear-gradient(black, silver, white);
	background-image:-webkit-linear-gradient(black, silver, white);
	background-image:-o-linear-gradient(black, silver, white);
	padding:15px 20px 0 20px;
	height:70px;
	margin:0 0 20px 0;
	border-radius:12px;
	-moz-border-radius:12px; /* Firefox 3.6 and earlier */
}

nav#menu-top a{
	display:block;
	width:120px;
	float:left;
	margin:0 10px;
	color:#fff;
	padding:15px 20px;
	text-decoration:none;
	text-transform:capitalize;
	font-weight:bold;	
	background-color:#F90;
	border:2px solid;
	border-radius:12px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	text-align:center;
	transition: opacity 1s;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s; /* Opera */

}
nav#menu-top a:hover{
	background-color:#fff;
	color:#F60;	
	opacity:0.5
}
nav#menu-top a:focus{
	background-color:#F60;
	color:#fff;	
}
/********************************************************/

article {
	margin:0px 0 20px 0;
	text-align:justify;		
}

article:last-of-type {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:10px; /* Safari and Chrome */
    column-gap:10px;
	-moz-column-rule:1px outset #ff00ff; /* Firefox */
	-webkit-column-rule:1px outset #ff00ff; /* Safari and Chrome */
	column-rule:1px outset #ff00ff;
}


article:first-child {	
	color: #777;
	font-style: italic;
}
aside {
	float: right;
	width: 25%;
	padding: 0 10px;
	margin-left: 1%;
	background-color:beige;
	font-size: 0.9em;
	border:#ccc thin solid;
	border-radius:12px;
	-moz-border-radius:12px; /* Firefox 3.6 and earlier */
}

video, figure {
	width:400px;	
	float:left;
	margin:0 10px 20px 0
}

.ligne_sep {	
	margin:0px 0 20px 0;
	height:1px;
	background-color:red;	
	clear:both;
	border:#000 thin dashed;
}

figure {		
	padding:0px;
}

figure img {		
	box-shadow: 1px 1px 15px #555;
}

 

figure figcaption {
	margin:10px 10px;
	font-family:"Tangerine";
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px #ccc;
	font-size:37px
	
}

#conteneur {
	width:1000px;
	margin:0 auto 20px auto;
	padding:20px;
	box-shadow: 5px 5px 15px #888888;
	background-color:#FFF;
	border-radius:12px;
	-moz-border-radius:12px; /* Firefox 3.6 and earlier */
}

#contenu {
	float:left;
	width:70%;
	
}
footer {
	border-top: 1px solid #ccc;
	color: #777;
	clear:both
}

